<div class="background-image">

  <header class="header">
    <h1>WELCOME TO D C HOSPITAL</h1>

   
    <nav class="nav">
      <!-- Patients -->
      <a routerLink="/patients" routerLinkActive="active">Patients</a>
      <a routerLink="/create" routerLinkActive="active">Create Patient</a>

      <!-- Doctors -->
      <a routerLink="/doctors" routerLinkActive="active">Doctors</a>
      <a routerLink="/create-doctor" routerLinkActive="active">Create Doctor</a>

      <!-- Appointments -->
      <a routerLink="/appointments" routerLinkActive="active">Appointment</a>
      <a routerLink="/create-appointment" routerLinkActive="active">Create Appointment</a>

      <!-- Appointment Slots -->
      <a routerLink="/appointment-slots" routerLinkActive="active">Appointment Slots</a>
      <a routerLink="/create-appointment-slot" routerLinkActive="active">Create Appointment Slot</a>

      <!-- Medical Records -->
      <a routerLink="/medical-records" routerLinkActive="active">Medical Record</a>
      <a routerLink="/create-medical-record" routerLinkActive="active">Create Medical Record</a>

      <!-- Insurances -->
      <a routerLink="/insurances" routerLinkActive="active">Insurance</a>
      <a routerLink="/create-insurance" routerLinkActive="active">Create Insurance</a>

      <!-- Billings -->
      <a routerLink="/billings" routerLinkActive="active">Billing</a>
      <a routerLink="/billings/create" routerLinkActive="active">Create Billing</a>

      
      <!-- ... Add more navigation links as needed ... -->
    </nav>
  </header>
  

  <main class="main">
    <router-outlet></router-outlet>
  </main>

</div>
