/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('F:\anguler\ng-workspace\hospital-app\src\hospital.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
  }
  
